In [2]:
# import libraries

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
spark = SparkSession.builder.appName("Project").getOrCreate()

In [3]:
# read the data
df = spark.read.options(header = True, inferSchema = True).csv("/Users/edson/Desktop/dev/mini-project-pyspark/pyspark-mini-project/OfficeData.csv")

In [4]:
df.show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [5]:
# Print the total number of employees in the company
print("Total number of employees in the company: ", df.count())

Total number of employees in the company:  9

In [6]:
# Print the number of departments in the company
print("Total number of departments in the company: ", df.select("Department").distinct().count())

Total number of departments in the company:  3

In [10]:
# Print the names of the company
print("Names of the company: ", df.select("department").distinct().show())

+----------+
|department|
+----------+
|     Sales|
|   Finance|
| Marketing|
+----------+

Names of the company:  None

In [11]:
# Print the total numeber of employees in each department
print("Total number of employees in each department: ", df.groupBy("Department").count().show())

+----------+-----+
|Department|count|
+----------+-----+
|     Sales|    3|
|   Finance|    4|
| Marketing|    2|
+----------+-----+

Total number of employees in each department:  None

In [12]:
# Print the total number of employees in each state
print("Total number of employees in each state: ", df.groupBy("State").count().show())

+-----+-----+
|State|count|
+-----+-----+
|   CA|    4|
|   NY|    5|
+-----+-----+

Total number of employees in each state:  None

In [13]:
# Print the total number of employees in each state in each department
print("Total number of employees in each state in each department: ", df.groupBy("State", "Department").count().show())

+-----+----------+-----+
|State|Department|count|
+-----+----------+-----+
|   CA|     Sales|    1|
|   CA| Marketing|    1|
|   NY|     Sales|    2|
|   CA|   Finance|    2|
|   NY|   Finance|    2|
|   NY| Marketing|    1|
+-----+----------+-----+

Total number of employees in each state in each department:  None

In [14]:
# Print the minimum and maximum salary of each department and sort salary in ascending order
print("Minimum and maximum salary of each department and sort salary in ascending order: ", df.groupBy("Department").agg(min("Salary").alias("Min_Salary"), max("Salary").alias("Max_Salary")).orderBy("Department").show())

+----------+----------+----------+
|Department|Min_Salary|Max_Salary|
+----------+----------+----------+
|   Finance|     79000|     99000|
| Marketing|     80000|     91000|
|     Sales|     81000|     90000|
+----------+----------+----------+

Minimum and maximum salary of each department and sort salary in ascending order:  None

In [22]:
# Print the names of employees working in NY state under Finance department whose bonuses are greater than the average bonuses of employees in NY state

# print("")

In [23]:
# Raise the salaries $500 of all employees whose age is greater than 45 with spark SQL

print("Raise the salaries $500 of all employees whose age is greater than 45 with spark SQL: ", df.createOrReplaceTempView("OfficeData"), spark.sql("SELECT * FROM OfficeData WHERE Age > 45").show())

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|      Michael|     Sales|   NY| 86000| 56|20000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

Raise the salaries $500 of all employees whose age is greater than 45 with spark SQL:  None None

In [24]:
# Crreate DF of all those employees whose age is greater than 45 and save them in a csv file

print("Create DF of all those employees whose age is greater than 45 and save them in a csv file: ", df.createOrReplaceTempView("OfficeData"), spark.sql("SELECT * FROM OfficeData WHERE Age > 45").write.csv("/Users/edson/Desktop/dev/mini-project-pyspark/pyspark-mini-project/OfficeData_age.csv"))

Create DF of all those employees whose age is greater than 45 and save them in a csv file:  None None